<div id="home-container">
  <section id="top-content">
    <app-top-content [genres]="genres" [orderBy]="orderBy" (filterChanged)="filterChanged($event)"></app-top-content>
  </section>
  <section id="movie-container">
    <app-movie-container [movies]="movies" [genre]="selectedGenre" [order]="selectedOrder" [pageNumber]="currentPage.toString()"></app-movie-container>
  </section>
  <section id="pagination">
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChanged($event)"></app-pagination>
  </section>
</div>
