<section id="top-content-container">
  <div id="filter-container">
    <select id="filter-genre" [(ngModel)]="selectedGenre" (change)="optionsChange()">
      <option value="0">Filter by Genre</option>
      <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
    </select>
    <select id="order" [(ngModel)]="selectedOrder" (change)="optionsChange()">
      <option *ngFor="let order of orderByList" [value]="order.order">{{ order.text }}</option>
    </select>
  </div>
  <!-- <section id="search-container">
    <div class="d-flex">
      <input id="search" name="search" [(ngModel)]="keyword" class="form-control" type="search" placeholder="Search"
        aria-label="Search" (input)="optionsChange()">
      <img src="assets/search.png" class="search-icon" alt="Search Image">
    </div>
  </section> -->
</section>
