<section id="top-content-container">
  <div id="filter-container">
    <select id="filter-genre">
      <option value="">Filter by Genre</option>
    </select>
    <select id="order">
      <option value="">Order by</option>
    </select>
  </div>
  <div id="search-container">
    <section id="search">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </section>
  </div>
</section>